
mat-form-field {
    width: 100%;
}

mat-spinner {
    margin: auto;
}

.submit-btn {
    border-radius: 12px;
    width: 200px;
    height: 40px;
    font-weight: bold;
    margin: 8px auto;
    display: flex;
}