
<div class="login_wrapper">
    <section class="login_form" fxFlex.xs="100%">
        <div fxLayoutAlign="center center">
            <div class="logo">
                <span class="material-icons material-icons-input">
                    landscape
                </span>
            </div>
        </div>
        <h2 fxLayout="column" fxLayoutAlign="center center">LOG IN</h2>

        <!-- the start of login form -->
        <form [formGroup]="loginForm" *ngIf="!isLoading" (ngSubmit)="onLogin()">
            <mat-form-field>
                <input matInput [placeholder]=" 'AUTH.USERNAME' | translate" type="text" formControlName="username" required />
                <mat-error *ngIf="loginForm.get('username')?.touched && loginForm.get('email')?.hasError('required')"> please
                    enter a valid emaiuser name </mat-error>
            </mat-form-field>
            <mat-form-field>
                <input matInput [placeholder]="'AUTH.PASSWORD' | translate" type="password" formControlName="password" required
                    minlength="4" />
                <mat-error *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.hasError('required')">
                    please enter a valid password
                </mat-error>
            </mat-form-field>
            <button class="submit-btn" mat-raised-button color="primary" type="submit" *ngIf="!isLoading">{{'AUTH.LOGIN' |
                translate}}</button>
            <mat-error *ngIf="errorMsg">
                {{errorMsg}}
        
            </mat-error>
        </form>
        <!-- the END of login form -->
        <mat-spinner *ngIf="isLoading"></mat-spinner>
    </section>
</div>